**/verilog/**/*.v          linguist-language=Verilog
**/verilog/**/*.vh         linguist-language=Verilog

**/system_verilog/**/*.v   linguist-language=SystemVerilog
**/system_verilog/**/*.sv  linguist-language=SystemVerilog
**/system_verilog/**/*.vh  linguist-language=SystemVerilog

**/vhdl/**/*.vhdl          linguist-language=VHDL
**/vhdl/**/*.vh            linguist-language=VHDL
